body {
  background-color: #fefbf3;
  color: #19381d;
  font-family: "Akshar", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
#logo {
  width: 600;
  height: 200px;
  position: relative;
  margin-left: 40%;
}
.me-img {
  width: 300px;
  height: 300px;
  margin-left: 130%;
}
span {
  margin-top: 100px;
  font-size: 2rem;
  margin-left: 25%;
}
.textarea {
  min-height: 220px;
  resize: none;
}
.form-btn {
  background: red;
  color: #fff;
}
.form-btn:hover {
  background: tomato;
  color: #fff;
}
